*{
    scroll-behavior: smooth;
}

main, footer{
    width: 100%;
    position: relative;
}

.wkd-tab-bar{
    width: 840px;
    display: none;
}

#bottom-row{
    z-index: -20;
    transition: .2s;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.wkd-drawer{
    width: 268px;
    z-index: 10;
}

.wkd-list-drawer{
    padding: 20px 0px 0px 0px;
}

.wkd-drawer__header{
	display: flex !important;
    padding-top: 7px;
    z-index: 100;
    align-items: center;
}


.wkd-top-app-bar{
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.wkd-list-group{
    margin: 0;
    border-top: 0.5px solid;
    border-bottom: 0.5px solid;
}

.wkd-arrow{
    margin: 0;
    transition: all .3s;
}

.wkd-list-expanded{
    display: none;
    margin: 0px;
    padding: 0px;
}



.wkd-submenu{
    position: absolute;
    background-color: #fff;
    left: -268px;
    width: 268px;
    transition: all .2s;
    z-index: 1000;
}

.wkd-submenu-list{
    padding: 0px;
}

.wkd-icon-button-submenu::before,
.wkd-icon-button-submenu::after{
    background-color: #fff;
}

.wkd-list-item-submenu a, .wkd-list-item-submenu--selected a{
    font-size: 13px !important;
    margin: 0px !important;
    height: 50px !important;
    width: 100% !important;
    display: flex !important;
    justify-content: space-between !important;
    padding: 0px !important;
}

.wkd-list-item-submenu--selected{
    color: #326AEA !important;
}

/*logo*/
.logo{
    text-align: left;
    font-family: 'Nunito Sans', sans-serif;
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: -webkit-flex;
    display: flex;
    position: absolute;
    left: 58px;
    width: 150;
    height: 40;
    z-index: 10;
    color: #326AEA;
    cursor: pointer !important;
}

.logo-text span:nth-of-type(1){
    font-size: 19px;
    line-height: 22px;
}

.logo-text span:nth-of-type(2){
    font-size: 12px;
}

.logo-drawer{
    left: 70px;
}

.logo-footer{
    left: 0px !important;
    position: relative;
    z-index: 0;
}

/*search*/
.search-bar-container--opened{
    position: absolute;
    width: 95%;
    margin: 0px;
    left: 50%;
    top: 50%;
    display: block;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0px 30px 0px 30px;
    height: 42px !important;
    border-radius: 5px;

}

.search-bar-container--closed{
    position: relative;
}

.search-bar-txt--opened{
    border: none;
    outline: none;
    display: block;
    color: #2C385A;
    height: 30px;
    background-color: transparent;
    width: 90%;
}

.search-bar-txt--closed{
    display: none;
}

.search-bar-txt--opened::placeholder, 
.search-bar-txt--closed::placeholder{
    color: #2C385A;
}

.search-bar-txt{
    border: none;
    outline: none;
    display: none;
    color: #2C385A;
    height: 80%;
    padding: 20px;
    background-color: #fff;
    background-color: transparent;
}

.wkd-icon-button-search::before,
.wkd-icon-button-search::after{
    background-color: unset !important;
}

.content{
    width: 100%;
    margin: 0 auto;
    max-width: 936px;
    box-sizing: border-box;
    box-shadow: none;
    background-color: #fff;
    margin: auto;
    padding: 40px;
    position: relative;
}
.content h1{
    margin: 0px;
}

#apt-menu{
    margin: 56px 20px 0 0;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2);
}

/* list-item */
.wkd-list-item:not(.wkd-list-item-submenu, .wkd-list-item-submenu--selected){
    height: 27px;
	margin: 0px !important;
	border-radius: 0px 50px 50px 0px;
	width: 214px;
    padding: 0px 0px 0px 10px;
}

.wkd-list-item a:not(.wkd-list-item-submenu, .wkd-list-item-submenu--selected){
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    height: 25px;
    padding-left: 40px;
    width: 90%;
	margin: 0px;
	border-radius: 0px 50px 50px 0px;
    color: inherit;
    -webkit-font-smoothing: antialiased;
    font-family: Roboto,sans-serif;
    font-family: var(--wkd-typography-subtitle2-font-family,var(--wkd-typography-font-family,Roboto,sans-serif));
    font-size: .875rem;
    font-size: var(--wkd-typography-subtitle2-font-size,.875rem);
    line-height: 1.375rem;
    line-height: var(--wkd-typography-subtitle2-line-height,1.375rem);
    font-weight: 500;
    font-weight: var(--wkd-typography-subtitle2-font-weight,500);
    letter-spacing: .0071428571em;
    letter-spacing: var(--wkd-typography-subtitle2-letter-spacing,.0071428571em);
    text-decoration: inherit;
    -webkit-text-decoration: var(--wkd-typography-subtitle2-text-decoration,inherit);
    text-decoration: var(--wkd-typography-subtitle2-text-decoration,inherit);
    text-transform: inherit;
    text-transform: var(--wkd-typography-subtitle2-text-transform,inherit);
}

.wkd-list-item a:active{
    color: inherit;
}

a.wkd-list-item:not(a.wkd-list-item--selected){
    padding: 0px 0px 0px 45px !important;
}

.wkd-toc-embedded{
    height: auto;
    border-left: 4px solid #326AEA;
    padding-left: 10px;
    box-sizing: border-box;
}

.wkd-toc{
    display: none;
    margin: 80px 0px 0px 0px;
    position: absolute;
    transition: .2s;
    width: 150px;
    right: 10%;
}
.wkd-toc-container-large{
    position: fixed;
    border-left: 4px solid #326AEA;
    padding-left: 10px;
    box-sizing: border-box;
}

.wkd-toc h4, .wkd-toc-embedded h4{
    margin: 0px;
}

.wkd-toc-list-item{
    text-decoration: none;
    color: #2C385A;
    cursor: pointer;
}

.wkd-toc-list-item:active{
    color: #326AEA;
}

.wkd-list-item-selected{
    background-color: #326AEA;
}

.wkd-drawer .wkd-list-item--selected{
    color: #326AEA !important;
}

.ghost{
    width: 300px;
    display: none;
}

.wkd-article{
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: -webkit-flex;
    display: flex;
    margin: auto;
    position: relative;
    width: 100%;
    justify-content: space-between;
}

/*footer*/
footer{
    background-color: #fff;
    padding: 40px 0px 60px 0px;
    border: none;
    z-index: 0;
}

.wkd-footer{
    width: 90%;
    margin: auto;
}

.wkd-footer-top{
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px 20px 0px;
}

.contact{
    margin-left: 30px;
}

.contact p, .contact h3{
    margin: 5px 0px 5px 0px;
}

.wkd-footer-links{
    display: block;
    justify-content: space-between;
    align-items: center;
}

.wkd-footer-links p{
    margin-top: 10px;
    font-size: 13px !important;
    color: #326AEA;
}

.wkd-footer ul{
    margin: 0px;
    padding: 0px;
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: -webkit-flex;
    display: flex;
    list-style: none;
    height: auto;
}

.wkd-footer ul li a{
    text-decoration: none;
    font-size: 13px !important;
    color: #326AEA;
}

.wkd-footer ul li .important{
    margin: 6px;
}

.return{
    cursor: pointer;
    border: none;
    background-color: #fff;
    outline: none;
    width: 50px;
    height: 50px;
}

.return:hover{
    transform: scale(1.02,1.02)
}

.wkd-top-app-bar .wkd-top-app-bar__navigation-icon::before,
.wkd-top-app-bar .wkd-top-app-bar__navigation-icon::after{
    background-color: #000;
}

@media(min-width: 600px){
    #apt-menu{
        margin: 64px 20px 0 0; 
    }
}

@media(min-width: 840px){
    footer{
        border: 1px solid rgba(0, 0, 0, 0.1);
    }
    #mobile{
        display: none;
    }
    .wkd-tab-bar{
        display: block;
    }
    .wkd-drawer{
        display: block;
    }
    .wkd-list-drawer{
        padding-top: 60px;
        transition: .2s;
    }
    .logo{
        left: 20px;
    }
    .wkd-top-app-bar{
        box-shadow: none;
        z-index: 100;
    }
    
    main, footer{
        width: calc(100% - 268px);
        padding-left: 268px;
    }
    .content{
        width: 90%;
        max-width: 936px;
        margin-top: 80px;
        margin-bottom: 80px;
        box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2);
    }
    .search-bar-container--opened{
        width: 97%;
    }
}

@media(min-width: 940px){
    .wkd-footer-links{
        display: -webkit-box; 
        display: -ms-flexbox; 
        display: -webkit-flex;
        display: flex;
    }
    .wkd-footer-links p{
        margin: 0px;
    }
}

@media(min-width: 1420px){
    .wkd-toc{
        display: block;
    }
    .wkd-toc-embedded{
        display: none;
    }
    .content{
        margin: 80px 0px 80px 0px;
        width: 80%;
    }
    .wkd-article{
        width: 90%;
        max-width: 1200px;
    }
    .ghost{
        display: block;
    }
    .search-bar-container--opened{
        width: 99%;
    }
}
